@font-face {
  font-family: SpongeBob;
  src: url("/resources/fonts/Krabby\ Patty.ttf");
}

body {
  background-image: url("/resources/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: SpongeBob;
  font-size:18px;
  color: white;
  text-shadow: -2px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

main {
  width: 100%;
  text-align: center;
  margin-bottom:150px;
  margin-top:50px;
}
main > * {
  margin: 25px auto;
}

main h1 {
  font-size: 48px;
}

iframe{
  width: 85%;
  height: 80vh;
}

.image-container {
  display: inline-block;
  background-color: rgb(252, 255, 239);
  border-radius: 250px;
  transition: all 0.2s ease-in-out;
}

.image-container img {
  width: 25vw;
}

.image-container:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px rgb(232, 255, 120);
}

/*Responsive Breakpoints*/
@media only screen and (max-width: 576px) {
  .image-container img {
    width: 50vw;
  }
}
